<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <img [src]="clienteToShow?.avatar" alt="imagen perfil" class="rounded-circle border-3 border-white border"><br>
            <span class="fst-italic text-white fs-4">{{clienteToShow?.puntos}} puntos</span><br>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <span class="fw-bold text-white fs-1">{{clienteToShow?.nombre}}</span><br>
                    <span class="fst-italic text-white fs-2">{{clienteToShow?.email}}</span><br>
                    <span class="text-white fs-5">{{clienteToShow?.direccion}}</span><br>
                    <span class="text-white fs-5">{{clienteToShow?.poblacion}} {{clienteToShow?.codPostal}}</span><br>
                </div>
            </div>
        </div>
    </div>
    <h1 class="fw-bold text-center text-white mt-5">PEDIDOS</h1>
    <div class="row">
        <div class="col-3">
            <h2 class="text-white text-center">Estado</h2>
        </div>
        <div class="col-3">
            <h2 class="text-white text-center">Fecha</h2>
        </div>
        <div class="col-3">
            <h2 class="text-white text-center">Importe</h2>
        </div>
        <div class="col-3">
            <h2 class="text-white text-center">Detalle</h2>
        </div>
    </div>
    <app-vertical-order-list [listPedido]="clienteToShow?.pedidos"></app-vertical-order-list>
</div>
