<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div style="max-width: 600px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">PUESTO</th>
                    </tr>
                </thead>
                @for (trabajador of trabajadorList; track $index) {
                <app-worker-row [trabajador]="trabajador"></app-worker-row>
                }
            </table>
        </div>
    </div>
</div>