<ng-template #miModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{usuarioLogueado.nombre}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="dateOfBirth">Puntos: {{usuarioLogueado.puntos}}</label>
            </div>
            <h5>Dirección de envio:</h5>
            <p>{{usuarioLogueado.direccion}}</p>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="cerrarSesion()">Save</button>
    </div>
</ng-template>

<button class="btn btn-lg" (click)="open(miModal)">{{usuarioLogueado.nombre}}</button>