<div class="container">
    <div class="row border border-light border-3 py-4">
        <div class="col-6 text-center mt-2">
            <h3>{{lineaPedido.nombreProducto}}</h3>
        </div>
        <div class="col-2 text-center mt-2">
            <h3>{{lineaPedido.cantidadProductos}}</h3>
        </div>
        <div class="col-2 text-center mt-2">
            <h3>{{lineaPedido.precioUnit}}€</h3>
        </div>
        <div class="col-2 text-center mt-2">
            <h3>{{lineaPedido.subtotal}}€</h3>
        </div>
    </div>
</div>
