<h1 class="text-white">{{cat.nombre}}</h1>

<div class="d-flex justify-content-around">
    @for (p of cat.productos; track $index) {

    <div class="contenedor border border-light">
        <img src={{p.imagen}} alt="" width="270px">
        <div class="text container">
            <div class="pt-3">
                <div class="title">
                    <h5 class="title"><strong>{{p.nombre}}</strong></h5>
                    <h6 class="title d-flex justify-content-end"><strong>{{p.precio}} €</strong></h6>
                </div>
            </div>
        </div>
    </div>
    }
</div>