<div class="container mt-5">
    <h1 class="text-white">{{cat.nombre}}</h1>

    <div class="gallery justify-content-start">
        @for (p of cat.productos; track $index) {
        <div class="carta">
            <div class="contenedor card-side">
                <img src={{p.imagen}} alt="" width="270px">
                <div class="text">
                    <div class="pt-3">
                        <div class="title">
                            <h5 class="title"><strong>{{p.nombre}}</strong></h5>
                            <h6 class="title d-flex justify-content-end"><strong>{{p.precio}} €</strong></h6>
                        </div>
                    </div>
                </div>
            </div>


            <div class="contenedor card-side card-sideBack">
                <img src="https://img.freepik.com/fotos-premium/mesa-madera-vacia-bokeh-oro-claro-borroso-restaurante-cafeteria-fondo-oscuro-enfoque-selectivo-exhibicion-productos-montaje_254791-2425.jpg" alt="" width="270px">
                <div class="text-back container">
                    <div class="d-flex justify-content-end pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20s" fill="yellow" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                          </svg>
                    </div>
                    <div class="pt-3">
                            <p>{{p.descripcion}}</p>
                    </div> 
                    <div class="mt-auto">
                            <p>{{p.tags}}</p>
                    </div>
                </div>

            </div>
        </div>
        }
    </div>
</div>