<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="text-white text-center">Nombre</h4>
        </div>
        <div class="col-3">
            <h4 class="text-white text-center">Username</h4>
        </div>
        <div class="col-2">
            <h4 class="text-white text-center">Nº Pedidos</h4>
        </div>
        <div class="col-2">
            <h4 class="text-white text-center">Puntos</h4>
        </div>
        <div class="col-1">
            <h4 class="text-white text-center">Eliminar</h4>
        </div>
        <div class="col-1">
            <h4 class="text-white text-center">Detalle</h4>
        </div>
    </div>
</div>

<app-vertical-client-list [listClient]="listClient"></app-vertical-client-list>